<div class="header-section">{{headerTitle}}</div>
<div class="body-section">
  <div class="container-fluid">
     <div class="row">
      <div class="col-sm-4 ">
           <div class="align-left"><img src="{{userProfileData.avatar_url}}" class="profile-image"></img></div>
	   <div class="profile-name">{{userProfileData.name}}</div>
	   <div>{{userProfileData.bio}}</div>
	   <ul>
	     <li ng-show="userProfileData.company"><img src="images/people.svg"></img>{{userProfileData.company}}</li>
	     <li ng-show="userProfileData.location"><img src="images/location.svg"></img>{{userProfileData.location}}</li>
	     <li ng-show="userProfileData.blog"><img src="images/link.svg"></img>{{userProfileData.blog}}</li>
           </ul>
      </div>
      <div class="col-sm-8">
          <div class="profile-repostory-label">Repositories</div>
	  
	  <div style="padding:0px 10px;">
	  <div class="align-left"><span>Search</span><input type="text" value="search" ng-model="searchKeyword"></input></div>
	  <div ng-repeat="userrepo in userrepos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchKeyword" class="tech-item">
             <div class="row">
		        <div class="col-xs-9" style="text-align:left;">
			    <div class="repoitem-title">{{userrepo.full_name}}
                            </div>
			    <div class="margin-top10">{{userrepo.description}}</div>
		        </div>
			<div class="col-xs-3">
			    <div class="margin-left50">
			      <img src="images/star_black.svg"></img>{{userrepo.stargazers_count}}
                            </div>
			</div>	
	     </div>
	  </div>
	  <pagination
		      ng-model="currentPage"
		      total-items="totalUserRepoCount"
			items-per-page="itemsPerPage"
			max-size="maxSize" 
		      boundary-links="true">
	  </pagination>
	  </div>

      </div>
     </div>
  </div>
